body{padding: 0;margin: 0;}
.m-login-icon{display: inline-block;vertical-align: top;margin: 4px 0 0 -20px;cursor: pointer;}
.m-wrap{display: flex;flex-direction: column; position: absolute;top:0;right: 0;left: 0;bottom: 0;}
.m-header{line-height: 40px;text-align: center;background: red;color: white;}
.m-main{flex:1;}
.m-footer{display: flex; height: 50px;border-top: 1px solid #ddd;}
.m-footer-item{flex:1;text-align: center;color: #333;text-decoration: none;}
.m-footer-item.router-link-active{color: red;}
.m-footer-icon{display: block; margin: 4px 0 0; font-size: 26px;}
.m-footer-text{font-size: 12px;}
.m-home{display: flex;overflow-y: auto;}
.m-sidebar{width: 80px;border-right: 1px solid #ddd;}
.m-sidebar-item{line-height: 40px;border-bottom: 1px solid #ddd;text-align: center;cursor: pointer;}
.m-sidebar-item.active{background: lightblue;}
.m-list{flex:1;overflow-y: auto;}
.m-category-title{position: sticky;top: 0; padding: 0 0 0 5px;line-height: 26px;height: 26px; background: #ddd;z-index: 1;}
.m-category-item{display: flex; padding: 0 0 5px 2px;}
.m-category-item-img{width: 112px;height: 150px;}
.m-category-item-img-loading{display: flex; width: 100%;height: 100%;background: #ddd;}
.m-category-item-img-loading::before{content: '';margin: auto;width: 38px;height: 38px;background: url(../images/loading.png) 100% 100%;animation: loading 1s linear infinite;}
.m-category-item-info{flex:1;margin: 0 0 0 4px; border-bottom: 1px solid #ddd;}
.m-star{color: #ddd;}
.m-star.active{color: red;}
.m-mask{position: absolute;display: none; top: 0;left: 0;right: 0;bottom: 0;background: rgba(0 , 0, 0, 0.1);}
.m-mask.active{display: flex;}
.m-dialog{display: flex;flex-direction: column; margin: auto;min-width: 280px;min-height: 100px;background: #fff;border-radius: 5px;box-shadow: 10px 10px 5px #888;}
.m-dialog-header{display: flex;line-height: 40px;border-bottom: 1px solid #ddd;}
.m-dialog-header-title{flex:1;padding: 0 0 0 5px;}
.m-dialog-header-close{width: 40px;text-align: center;cursor: pointer;}
.m-dialog-content{flex:1;}
.m-dialog-footer{ line-height: 40px;border-top: 1px solid #ddd; text-align: right;}
.m-btn{margin: 0 5px;}
.m-add-wrap{display: flex;height: 100px;}
.m-add{margin: auto;}
.m-add-input{width: 50px;text-align: center;}
.m-badge-wrap{display: inline-block;position: relative;}
.m-badge{display: inline-block;position: absolute;top: 0;right: 10px; padding: 0 5px; line-height: 20px;height: 20px;min-width: 20px;background: red;color: white;border-radius: 10px;transform: translate(100%, -50%);font-size: 12px; z-index: 2;}
.m-detail-header{display: flex;position: sticky;top: 0; height: 40px;line-height: 40px;background: red;}
.m-detail-header-back-icon{display: inline-block; width: 40px;text-align: center;color: white;font-weight: bold;}
.m-detail-header-title{padding: 0 40px 0 0; flex:1;color: white;text-align: center;}
.m-detail-row{display: flex;}
.m-detail-img{width: 150px;height: 200px;}
.m-detail-info{flex: 1;margin: 2px 0 0 2px;}
.m-detail-role-lable{font-weight: bold;margin: 0 2px 0 0;}
.m-detail-role{margin: 0 4px 0 0;}
.m-detail-summary{margin: 4px;text-align: justify;font-size: 14px;}
.m-my-books{overflow-y: auto;}
.m-my-books-empty{line-height: 100px;text-align: center;color: #333;}
.m-my-books-item{display: flex;padding: 4px;}
.m-my-books-item-img-wrap{display: flex; width: 100px;}
.m-my-books-item-checkbox{margin: auto;}
.m-my-books-item-img{width: 80px;height: 107px;border-radius: 2px;}
.m-my-books-item-info-wrap{display: flex; flex:1;margin: 0 0 0 5px; border-bottom: 1px solid #ddd;}
.m-my-books-item-info{flex:1}
.m-my-books-item-delete-wrap{display: flex;  width: 50px;text-align: center;}
.m-my-books-item-delete-btn{margin: auto;}





@keyframes loading {
  0% {transform: rotate(0);}
  100% {transform: rotate(360deg);}
}